@import 'mixins';

@import 'menu';
@import 'weather';

body, html {
  height: 100%;
}

.workspace {

	.header {
		text-indent: 15%;
		background: #9b4c97;
		height: 75px;
		padding-top:25px;
		color: white;
		font-size: 20px;
		font-weight: bold;
		text-align: center;

		.navigation {
			margin-top:25px;
			padding-top: 10px;
			background: #c487c1;
			height: 40px;
		}
	}

	.dashboard {
		margin-top: 40px;
		margin-left: 14%;

		.widget {
			padding: 10px;
			border-bottom: 1px solid #ccc;
		}
	}
}

@media (min-width: 200px) {
	.workspace .dashboard {margin-left: 30%;}
}

@media (min-width: 400px) {
	.workspace .dashboard {margin-left: 40%;}
}

@media (min-width: 450px) {
	.workspace .dashboard {margin-left: 14%;}
}