
// пункты меню и их картинки
$menuItems: (
	security: 'security.svg',
	water: 'water.svg',
	climate: 'climate.svg',
	electricity: 'electricity.svg',
	medialife: 'headphones.svg',
	light: 'light.svg'
);
$menuItemCount: 6; // количество пунктов меню
$menuItemHeight: 100% / $menuItemCount; // высота пунктов меню

.menu {
	position: fixed;
	height: 100%;
	background: #222d32;
	right: 0;

	a {
		display: block;
		width: 100%;
		height: $menuItemHeight;
		border-top: 1px solid #ccc;
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		padding: 0px;
		margin: 0px;
		color: #fff;

		span {
			font-size: 12px;
			position: relative;
			top: 65%;
		}
	}

	@each $item, $image in $menuItems {
		a.#{$item} {
			background: url(/img/menu/#{$image}) center 15px no-repeat;
			background-size: 30%;
			@if $item == 'security' { border: none; }

			&:hover {
				background-color: #33454d;
			}
		}
  }
}

@media (min-width: 100px) {
	.menu {width: 100px;}
}
