/* Variables */

$menuItems: (
	security: 'security.svg',
	water: 'water.svg',
	climate: 'climate.svg',
	electricity: 'electricity.svg',
	medialife: 'headphones.svg',
	light: 'light.svg'
);

$menuItemCount: 6;