div.widget.weather
	div.row
		each place in locations
			div.two.columns.city
				div.one-third.column.country
					= place.country
				div.two-thirds.column.info
					h3
						|#{place.temperature}&deg;C
					= place.city
